[Unit]
Description=Encooked authorization Java Spring cloud micro-service
[Service]
User=root
WorkingDirectory=~/encooked/authorization
ExecStart=java -jar ~/encooked/authorization/app.jar

SuccessExiStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target